name: Check links

on:
  pull_request:
    paths:
      - "**.rs"
      - "**.prdoc"
      - ".github/workflows/check-links.yml"
      - ".config/lychee.toml"
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  packages: read

jobs:
  isdraft:
    uses: ./.github/workflows/reusable-isdraft.yml
  link-checker:
    runs-on: ubuntu-latest
    needs: isdraft
    timeout-minutes: 10
    steps:
      - name: Restore lychee cache
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2 (12. March 2025)
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          # This should restore from the most recent one:
          restore-keys: cache-lychee-

      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v4.1.0 (22. Sep 2023)

      - name: Lychee link checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # for v1.9.1 (10. Jan 2024)
        with:
          args: >-
            --config .config/lychee.toml
            --no-progress
            './**/*.rs'
            './**/*.prdoc'
          fail: true
        env:
          # To bypass GitHub rate-limit:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
