name: Check publish build

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  isdraft:
    uses: ./.github/workflows/reusable-isdraft.yml
  preflight:
    needs: isdraft
    uses: ./.github/workflows/reusable-preflight.yml

  check-publish-compile:
    timeout-minutes: 90
    needs: [preflight]
    runs-on: ${{ needs.preflight.outputs.RUNNER }}
    container:
      image: ${{ needs.preflight.outputs.IMAGE }}
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v4.1.7

      - name: Rust Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          cache-on-failure: true

      - name: install parity-publish
        run: |
          rustup override set 1.82.0
          cargo install parity-publish@0.10.4 --locked -q

      - name: parity-publish update plan
        run: parity-publish --color always plan --skip-check --prdoc prdoc/

      - name: parity-publish apply plan
        run: parity-publish --color always apply --registry

      - name: parity-publish check compile
        run: |
          packages="$(parity-publish apply --print)"

          if [ -n "$packages" ]; then
            cargo --color always check $(printf -- '-p %s ' $packages)
          fi
