name: Claim Crates

on:
  push:
    branches:
      - master

jobs:
  claim-crates:
    runs-on: ubuntu-latest
    environment: master
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v4.1.7

      - name: Rust Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          cache-on-failure: true

      - name: install parity-publish
        run: cargo install parity-publish@0.10.4 --locked -q

      - name: parity-publish claim
        env:
          PARITY_PUBLISH_CRATESIO_TOKEN: ${{ secrets.CRATESIO_PUBLISH_CLAIM_TOKEN }}
        run: parity-publish --color always claim
