name: Binary Build
# This workflow can be used to build a binary like pezkuwi + workers, omninode or pezkuwi-parachain
# from any branch with release or profuction profile to be later used for testing.
# ⚠️ IT should not be used for release purposes!

on:
  workflow_dispatch:
    inputs:
      binary:
        required: true
        default: "pezkuwi"
        description: "The binary to build"
      package:
        description: Package to be built, can be pezkuwi, pezkuwi-parachain-bin, pezkuwi-omni-node etc.
        required: true
        type: string
      profile:
        required: true
        default: "release"
        description: "The profile to use for the binary build"

jobs:

  setup:
    # GitHub Actions allows using 'env' in a container context.
    # However, env variables don't work for forks: https://github.com/orgs/community/discussions/44322
    # This workaround sets the container image for each job using 'set-image' job output.
    runs-on: ubuntu-latest
    outputs:
      IMAGE: ${{ steps.set_image.outputs.IMAGE }}
      RUNNER: ${{ steps.set_runner.outputs.RUNNER }}
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6.pre.beta

      - name: Set image
        id: set_image
        run: cat .github/env >> $GITHUB_OUTPUT

      - name: Set runner
        id: set_runner
        shell: bash
        run: |
          if [[ "${{ inputs.binary }}" == "pezkuwi-parachain" ]]; then
            echo "RUNNER=parity-large" >> $GITHUB_OUTPUT
          else
            echo "RUNNER=ubuntu-latest" >> $GITHUB_OUTPUT
          fi

  build:
    needs: [setup]
    runs-on: ${{ needs.setup.outputs.RUNNER }}
    container:
      image: ${{ needs.setup.outputs.IMAGE }}
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6.pre.beta

      - name: Build binary
        run: |
          git config --global --add safe.directory "${GITHUB_WORKSPACE}" #avoid "detected dubious ownership" error
          PROFILE=${{ inputs.profile }}
          if [ "${{ inputs.binary }}" = "pezkuwi" ]; then
              for binary in pezkuwi pezkuwi-prepare-worker pezkuwi-execute-worker; do
                  echo "Building $binary..."
                  ./.github/scripts/release/build-linux-release.sh $binary ${{ inputs.package }} "${PROFILE}"
              done
          else
            ./.github/scripts/release/build-linux-release.sh ${{ inputs.binary }} ${{ inputs.package }} "${PROFILE}"
          fi

      - name: Upload ${{ inputs.binary }} artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.binary }}
          path: /artifacts/**
